@charset "utf-8";

$navbar-height: 3.75rem;

$navbar-breakpoint: 0px !default;

@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.dropdown {
  width: 100%;

  .dropdown-trigger {
    width: 100%
  }

  .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
}

.barcode {
  width: 100%;
}